/** 
 * Quick reset styles 
 * TODO: add a proper reset library
 **/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*** End quick reset ***/

/** 
 * Let's loosely follow Chris Coyier's cool idea here
 * and think about our CSS in terms of Document, Modules and Types
 * read more: https://css-tricks.com/rems-ems/
 **/


/**
 * Document level adjustments 
 **/

html {
    font-size: 0.875em; /* ( 14 / 16 ) */
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #000;
    font-family: 'Roboto Condensed', sans-serif;
    color: #626B76;
    display: table;
}

/**	
 * global styles
 **/
 .hidden {
 	display: none;
 }
 .block {
 	display: block;
 }
 .inline-block {
 	display: inline-block;
 }
 .bru-list {
 	list-style: none;
 	padding: 0;
 }
 .container {
 	padding: 1.78571428571429em; /* ( 25 / 14 ) */
 }
 .tinyprint {
 	font-size: 0.85714285714286rem; /* ( 12 / 14 ) */
 }
 .pos-rel {
 	position: relative;
 }
 .pos-abs {
 	position: absolute;
 }
 .input-block {
 	margin-bottom: 1em;
 }
 .row {
 	margin-top: 1.85714285714286em; /* ( 26 / 14 ) */
 }
 .row + .row-submit {
 	margin-top: 1.42857142857143em;
 }
 .row:first-child {
 	margin-top: 0;
 }

 a:link, a:visited {
	text-decoration: none;
	color: #626B76;
 }
 .input-error {
 	border: 2px solid red !important;
 }

/**
 * no media queries for this exercise - commented out for reference 
 **/


/**
   @media (min-width: 320px) {
	
   }
 **/


/*** Modules ***/


/**
 * Wrapper
 **/

.wrapper {
    font-size: 1rem;
    position: relative;
    background-color: #eceff1;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    display: table-row;
}

/**
 * Header
 **/
.header {
	line-height: 3.57142857142857;  /* ( 50 / 14 ) */
	color: #fafafa;
	position: fixed;
	width: 100%;
	z-index: 100;
}
	.header-title,
	.header-menu {
		padding-left: 1.78571428571429em; /* ( 25 / 14 ) */
	}
	.header-title {
		font-size: 1rem;
		width: 68.75%; /* ( 220 / 320 ) * 100 */
		background-color: #93278f;
	}
	.header-menu {
		background-color: #662d91;
		vertical-align: top;
		width: 31.25%; /* ( 100 / 320 ) * 100 */
		position: relative;
	}
	.header-menu-icon {
		/* so simple and nice props to this pen
		http://codepen.io/miguelVelazquez/pen/KGpBw*/
		position: fixed;
		color: #fafafa;
		right: 1.07142857142857em; /* ( 15 / 14 ) */
		top: 0;
		z-index: 2000;
		line-height: 3.57142857142857;  /* ( 50 / 14 ) */
		-ms-transform: rotate(90deg); /* IE 9 */
      	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
      	transform: rotate(90deg);
	}

/**
 * Menu
 **/
 .menu {
 	position: absolute;
 	z-index: 101;
 	width: 68.75%; /* ( 220 / 320 ) * 100 */
 	height: 100%;
 	top: 0;
 	right: -68.75%;
 	overflow: hidden;
 	background-color: #662d91;
 	color: #fafafa;
 	-webkit-transition: right 300ms ease-out;
 	-o-transition: right 300ms ease-out;
 	transition: right 300ms ease-out;
 }
 	.menu a {
		color: #fafafa;
	}
 	.nav-item {
 		line-height: 3.57142857142857;  /* ( 50 / 14 ) */
 	}
 	.nav-label {
 		padding-left: 1.78571428571429em; /* ( 25 / 14 ) */ 
 	}
 	.nav-links-title {
 		padding-left: 1.78571428571429em; /* ( 25 / 14 ) */ 
 		margin-bottom: -0.07142857142857em; /* (1 / 14 ) hacky way of getting rid of small space in between */
 	}
 	.nav-links-important {
 		background-color: #4d226d;
 	}
 	.in-nav {
        opacity: 0;
        -webkit-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms;
    }
    
    #nav-trigger:checked + .menu {
        right: 0;
    }
    
    #nav-trigger:checked + .menu .in-nav {
        opacity: 1;
    }

/**
 *  Login form
 **/
.login-form {
	font-size: 1rem;
	margin-top: 3.57142857142857em;
}
	.form-errors {
		background-color: #ed1c24;
		color: #fafafa;
		font-size: 1em;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		-webkit-transform: -webkit-translateY(calc(-1 * (100% + 3.57142857142857em))); /* ( 50 / 14 ) */;
		-moz-transform: -moz-translateY(calc(-1 * (100% + 3.57142857142857em))); /* ( 50 / 14 ) */;
		-ms-transform: -ms-translateY(calc(-1 * (100% + 3.57142857142857em))); /* ( 50 / 14 ) */;
		-o-transform: -o-translateY(calc(-1 * (100% + 3.57142857142857em))); /* ( 50 / 14 ) */;
		transform: translateY(calc(-1 * (100% + 3.57142857142857em))); /* ( 50 / 14 ) */;
		line-height: 1;
		padding: 1.28571428571429em 1.78571428571429em; /* ( 18 / 14)   && ( 25 / 14 ) */
		-webkit-transition: all 500ms ease-out;
		-o-transition: all 500ms ease-out;
		transition: all 500ms ease-out;
	}
	.form-errors.show-errors {
		-webkit-transform: -webkit-translateY(3.57142857142857em); /* ( 50 / 14 ) */;
		-moz-transform: -moz-translateY(3.57142857142857em); /* ( 50 / 14 ) */;
		-ms-transform: -ms-translateY(3.57142857142857em); /* ( 50 / 14 ) */;
		-o-transform: -o-translateY(3.57142857142857em); /* ( 50 / 14 ) */;
		transform: translateY(3.57142857142857em); /* ( 50 / 14 ) */;
	}
	.form-error + .form-error {
		padding-top: 1.28571428571429em; /* ( 18 / 14) */
	}
	.icon-flag {
		width: 40px;
		height: 47px;
		background: url('../assets/flag.png');
	}
	.login-form-input {
		display: block;
    	width: 100%;
    	line-height: 2.14285714285714; /* ( 30 / 14 ) */
    	padding-left: 5.71428571428571em; /* ( 80 / 14) */;
    	font-size: 1rem;
    	border: 2px solid transparent;
    	border-radius: 3px;
	}
	.login-form-label {
		position: absolute;
		font-size: 1.1rem;
		width: 5.71428571428571em; /* ( 80 / 14) */
		line-height: 2.14285714285714; /* ( 30 / 14 ) */
		padding: 0 1.14285714285714rem 0 0.71428571428571rem; /* ( 16 / 14 ) && ( 10 / 14 )*/
	}
	.icon-eye {
		width: 23px;
		height: 16px;
		background: transparent url('../assets/eyecon.png') no-repeat;
		position: absolute;
		right: 1.14285714285714rem;
		line-height: 2.14285714285714; /* ( 30 / 14 ) */
		top: 50%;
		margin-top: -8px;
		cursor: pointer;
	}
	.login-form-submit {
		background-color: #662d91;
		line-height: 2.14285714285714; /* ( 30 / 14 ) */
		outline: none;
		border: none;
		color: #fff;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		width: 31.25%; /* ( 100 / 320 ) * 100 */;
		font-size: 1rem;
	}
	.login-form-help {
		float: right;
		line-height: 2.14285714285714; /* ( 30 / 14 ) */
		font-size: 1rem;
		text-decoration: none;
	}

/**
 * footer
 **/
 .footer {
 	height: 10.71428571428571em; /* ( 150 / 14 ) */
 	width: 100%;
 	position: absolute;
 	bottom: 0;
 	background-color: #e0e5e8;
 }	
 	.footer-copyright {
 		position: absolute;
 		top: 73%; /* ( 110 / 150 ) */
 		left: 1.78571428571429em;
 	}
